<%- include('header'); -%>
<div class="row mb-4">
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Latest Height</h5>
              <p class="card-text">
                  359044
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Block Reward</h5>
              <p class="card-text">
                  1000 XFSC
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Difficulty</h5>
              <p class="card-text">
                  1234561
              </p>
            </div>
          </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span style="vertical-align: middle;">LATEST BLOCKS</span>
                <span style="float: right;">
                    
                    <a href="/blocks" >
                      View All
                 </a>
                      </span>
            </div>
            <div class="table-responsive p-2">
                <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Height</th>
                        <th scope="col">Time</th>
                        <th scope="col">Transactions</th>
                        <th scope="col">Size</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                            <a href="/blocks/1">
                                10
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                9
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                8
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                7
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                6
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                5
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                4
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                3
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                2
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                1
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>10</td>
                        <td>10 Byte</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span style="vertical-align: middle;">LATEST TRANSACTIONS</span>
                
                <span style="float: right;">
                    
                    <a href="/txs" >
                        View All
                   </a>
                </span>
            </div>
            <div class="table-responsive p-2">
                <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">TX HASH</th>
                        <th scope="col">Time</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Val</th>
                        <!-- <th scope="col">GAS used</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <tr>
                        <th>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </th>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
  </div>
<%- include('footer'); -%>